/**
 * page layout css module
 */

.page-active {
  display: block !important;
}

.page-enter {
  animation: fade-in 0.2s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate-y(8px);
  }
  to {
    opacity: 1;
    transform: translate-y(0);
  }
}
